body {
	font-family: Arial, sans-serif;
    
}
#registration-form {

    max-width: 600px;
  
    margin: 40px auto;
  
    padding: 20px;
  
    background-color: #f9f9f9;
  
    border: 1px solid #ccc;
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 3px;
}

input, textarea {
	width: 50%;
    display: flexbox;
	padding: 7px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.error {
	color: red;
	font-size: 13px;
	
}

button[type="submit"] {
	background-color: #4618c5;
	color: #fff;
	padding: 7px 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}